[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/homedir"]
	path = modules/homedir
	url = https://github.com/ahdinosaur/puppet-homedir.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/googlechrome"]
	path = modules/googlechrome
	url = https://github.com/smarchive/puppet-googlechrome.git
[submodule "modules/rvm"]
	path = modules/rvm
	url = https://github.com/blt04/puppet-rvm.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/puppetlabs/puppetlabs-nodejs
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/camptocamp/puppet-archive
[submodule "modules/build"]
	path = modules/build
	url = https://github.com/narkisr/puppet-build
